---
import Layout from "../../layouts/BlogPost.astro";
import OfficialsCards from "../../components/cards/officials-cards";

const officialsCardsArray = [
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Secretaria General",
        nameOfficial: "Abg. Rigoberto J. G. Fernandez Chumpitaz",
        emailPersonal: "rigoberto.fernandez@municerroazul.gob.pe",
        emailOffice1: "secretaria@municerroazul.gob.pe",
        emailOffice2: "secretariageneral@municerroazul.gob.pe",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Imagén Institucional",
        nameOfficial: "Bach. Eduardo A. Carbonell Sanchez",
        emailPersonal: "eduardo.carbonel@municerroazul.gob.pe",
        emailOffice1: "imagen@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/AlexandraDeysiHuarcayaVillagaray.avif",
        alt: "alexandra-huarcaya",
        nameOffice: "Trámite documentario, O. al Ciudadano y Archivo Central",
        nameOfficial: "Abg. Alexandra D. Huarcaya Villagaray",
        emailPersonal: "alexandra.huarcaya@municerroazul.gob.pe",
        emailOffice1: "mesadepartes@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/RosaAlvarezChumpitaz.avif",
        alt: "rosa-alvarez",
        nameOffice: "Oficina de Registro Civil",
        nameOfficial: "Sra. Rosa Alvarez Chumpitaz",
        emailPersonal: "rosa.alvarez@municerroazul.gob.pe",
        emailOffice1: "registro.civil@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Gerencia Municipal",
        nameOfficial: "C.P.C. Manuel Augusto García Huamán",
        emailPersonal: "manuel.garcia@municerroazul.gob.pe",
        emailOffice1: "gerencia.municipal@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/KarlaNadirEspartaManco.avif",
        alt: "karla-esparta",
        nameOffice: "Oficina General de Administración y Finanzas",
        nameOfficial: "C.P.C. Karla Nadir Esparta Manco",
        emailPersonal: "karla.esparta@municerroazul.gob.pe",
        emailOffice1: "gerencia.administracion@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/JuanJoseAquijeLaMadrid.avif",
        alt: "juan-aquije",
        nameOffice: "Oficina de Gestión de Recursos Humanos",
        nameOfficial: "Lic. Juan Jose Aquije La Madrid",
        emailPersonal: "juan.aquije@municerroazul.gob.pe",
        emailOffice1: "recursos.humanos@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FrancisLuzVegasSanchez.avif",
        alt: "francis-vegas",
        nameOffice: "Abastecimiento, Ctrl. Patr. y Maestranza",
        nameOfficial: "C.P.C. Francis Luz Vegas Sanchez",
        emailPersonal: "francis.vega@municerroazul.gob.pe",
        emailOffice1: "abastecimiento.mdca@municerroazul.gob.pe",
        emailOffice2: "cotizador.mdca@municerroazul.gob.pe",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Contabilidad y Costos",
        nameOfficial: "C.P.C. Robert Octavio Soto Mateo",
        emailPersonal: "robert.soto@municerroazul.gob.pe",
        emailOffice1: "contabilidad.mdca@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Tesorería",
        nameOfficial: "Bach. Luis Ernesto Padilla Caracusma",
        emailPersonal: "luis.padilla@municerroazul.gob.pe",
        emailOffice1: "tesoreria@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina General de Asesoría Jurídica",
        nameOfficial: "Abg. Marlon Maximo Salazar Salvador",
        emailPersonal: "marlon.salazar@municerroazul.gob.pe",
        emailOffice1: "asesoria.juridica@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FrancisLuzVegasSanchez.avif",
        alt: "francis-vegas",
        nameOffice: "Oficina de Planeamiento, Presupuesto y Modernización",
        nameOfficial: "C.P.C. Francis Luz Vegas Sanchez",
        emailPersonal: "francis.vega@municerroazul.gob.pe",
        emailOffice1: "planeamiento.presupuesto@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FrancisLuzVegasSanchez.avif",
        alt: "francis-vegas",
        nameOffice: "Programación Multianual y Gestión de Inversiones",
        nameOfficial: "C.P.C. Francis Luz Vegas Sanchez",
        emailPersonal: "francis.vega@municerroazul.gob.pe",
        emailOffice1: "programacion.multianual@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Oficina de Informática y Estadísticas",
        nameOfficial: "Sr. Junior Jansel Aquije Quispe",
        emailPersonal: "jaquije@municerroazul.gob.pe",
        emailOffice1: "informatica.estadisticas@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "G. de Infraestructura, Desarrollo Urbano y Rural",
        nameOfficial: "Ing. José Antonio Injante Lima",
        emailPersonal: "jose.injante@municerroazul.gob.pe",
        emailOffice1: "desarrollo.urbano@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Obras Públicas, Estudios, Proyectos y Liquidaciones",
        nameOfficial: "Arq. Anthony Vadim Aguado Claudio",
        emailPersonal: "anthony.aguado@municerroazul.gob.pe",
        emailOffice1: "publicas@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/RonaldJesusCcasaniSalazar.avif",
        alt: "ronald-ccasani",
        nameOffice: "Sub Gerencia de Obras, Privadas, Catastro y Habilitaciones Urbanas",
        nameOfficial: "Ing. Ronald Jesus Ccasani Salazar",
        emailPersonal: "ronald.ccasani@municerroazul.gob.pe",
        emailOffice1: "obras.privadas@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Gestión de Riesgo de Desastres y Defensa Civil",
        nameOfficial: "Bach. Eduardo A. Carbonell Sanchez",
        emailPersonal: "eduardo.carbonell@municerroazul.gob.pe",
        emailOffice1: "defensa.civil@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Área Técnica Municipal",
        nameOfficial: "Ing. Maura Estrella del Milagro Huaman",
        emailPersonal: "maura.huaman@municerroazul.gob.pe",
        emailOffice1: "area.tecnica.municipal@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Mantenimiento de Infraestructura",
        nameOfficial: "Bach. Hector Gabriel Arias Sánchez",
        emailPersonal: "hector.arias@municerroazul.gob.pe",
        emailOffice1: "mantenimiento.infra@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/KellyRamosChumpitaz.avif",
        alt: "kelly-ramos",
        nameOffice: "Gerencia de Desarrollo Económico, Turismo y Promoción del Empleo",
        nameOfficial: "Abg. Kelly Ramos Chumpitaz",
        emailPersonal: "kelly.ramos@municerroazul.gob.pe",
        emailOffice1: "gdesarrollo.economico@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Desarrollo Económico y Productivo",
        nameOfficial: "Lic. Bryan Alexander Nuñez Aparcana",
        emailPersonal: "bryan.nunez@municerroazul.gob.pe",
        emailOffice1: "des.economico.productivo@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/KellyRamosChumpitaz.avif",
        alt: "kelly-ramos",
        nameOffice: "Sub Gerencia de Comercialización",
        nameOfficial: "Abg. Kelly Ramos Chumpitaz",
        emailPersonal: "kelly.ramos@municerroazul.gob.pe",
        emailOffice1: "sg.comercializacion@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/SaulAlejandroCarrascoHuapaya.avif",
        alt: "saul-carrasco",
        nameOffice: "Sub Gerencia de Fiscalización y Policia Municipal",
        nameOfficial: "Abg. Saul Alejandro Carrasco Huapaya",
        emailPersonal: "saul.carrasco@municerroazul.gob.pe",
        emailOffice1: "subgerencia.fiscapolimunicipal@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Gerencia de Servicios a la Ciudad y Gestión Ambiental",
        nameOfficial: "Ing. Leslie Vicenta Yaya Chileno",
        emailPersonal: "leslie.yaya@municerroazul.gob.pe",
        emailOffice1: "gserviciosalaciudad.gestionambiental@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/RonaldAlbertoVasquezQuispe.avif",
        alt: "ronald-vasquez",
        nameOffice: "Sub Gerencia de Gestión Ambiental",
        nameOfficial: "Bach. Ronald Alberto Vasquez Quispe",
        emailPersonal: "ronald.vasquez@municerroazul.gob.pe",
        emailOffice1: "gestion.ambiental@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Limpieza Pública y Áreas Verdes",
        nameOfficial: "Ing. Leslie Vicenta Yaya Chileno",
        emailPersonal: "leslie.yaya@municerroazul.gob.pe",
        emailOffice1: "sflimpieza.areasverdes@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/RonaldAlbertoVasquezQuispe.avif",
        alt: "ronald-vasquez",
        nameOffice: "Sub G. de Adm. de la Infra. Deportiva y Cementerio Municipal",
        nameOfficial: "Bach. Ronald Alberto Vasquez Quispe",
        emailPersonal: "ronald.vasquez@municerroazul.gob.pe",
        emailOffice1: "admininfradeporcem@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FelixManuelTumayCuya.avif",
        alt: "felix-tumay",
        nameOffice: "Gerencia de Seguridad Ciudadana y Transporte",
        nameOfficial: "Sr. Felix Manuel Tumay Cuya",
        emailPersonal: "felix.tumay@municerroazul.gob.pe",
        emailOffice1: "seguridad.ciudadana@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FelixManuelTumayCuya.avif",
        alt: "felix-tumay",
        nameOffice: "Sub Gerencia de Seguridad Ciudadana y Serenazgo",
        nameOfficial: "Sr. Felix Manuel Tumay Cuya",
        emailPersonal: "felix.tumay@municerroazul.gob.pe",
        emailOffice1: "seguridadc.serenazgo@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/FelixManuelTumayCuya.avif",
        alt: "felix-tumay",
        nameOffice: "Sub Gerencia de Transporte, Tránsito y Seguridad Vial",
        nameOfficial: "Sr. Felix Manuel Tumay Cuya",
        emailPersonal: "felix.tumay@municerroazul.gob.pe",
        emailOffice1: "transporte.seguridadvial@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Gerencia de Administración Tributaria",
        nameOfficial: "Lic. Zulema Berenise Luyo Huari",
        emailPersonal: "zulema.luyo@municerroazul.gob.pe",
        emailOffice1: "gerenciadmin.tributaria@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub G. de Registro, O. y Recaudación Tributaria",
        nameOfficial: "Lic. Zulema Berenise Luyo Huari",
        emailPersonal: "zulema.luyo@municerroazul.gob.pe",
        emailOffice1: "orientacion.rentas@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Fiscalización Tributaria",
        nameOfficial: "Lic. Zulema Berenise Luyo Huari",
        emailPersonal: "zulema.luyo@municerroazul.gob.pe",
        emailOffice1: "subgerencia.fiscatributaria@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/AlexanderRichardAlbitesGarcia.avif",
        alt: "alexander-albites",
        nameOffice: "Sub Gerencia de Ejecutoría Coactiva",
        nameOfficial: "Sr. Alexander Richard Albites Garcia",
        emailPersonal: "aalbites@municerroazul.gob.pe",
        emailOffice1: "coactiva@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/CarlosAntonioFranciaSoriano.avif",
        alt: "carlos-francia",
        nameOffice: "Gerencia de Desarrollo Social y Participación Vecinal",
        nameOfficial: "Abg. Carlos Antonio Francia Soriano",
        emailPersonal: "carlos.francia@municerroazul.gob.pe",
        emailOffice1: "desarrollo.social@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/CarlosAntonioFranciaSoriano.avif",
        alt: "carlos-francia",
        nameOffice: "Sub Gerencia de Participación Vecinal",
        nameOfficial: "Abg. Carlos Antonio Francia Soriano",
        emailPersonal: "carlos.francia@municerroazul.gob.pe",
        emailOffice1: "participacion.vecinal@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/CarlosAntonioFranciaSoriano.avif",
        alt: "carlos-francia",
        nameOffice: "Sub Gerencia de Programas Sociales",
        nameOfficial: "Abg. Carlos Antonio Francia Soriano",
        emailPersonal: "carlos.francia@municerroazul.gob.pe",
        emailOffice1: "programas.sociales@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/Avatar.png",
        alt: "avatar",
        nameOffice: "Sub Gerencia de Servicios Sociales",
        nameOfficial: "Abg. Elyane Samantha Francia Chavez",
        emailPersonal: "elayne.francia@municerroazul.gob.pe",
        emailOffice1: "subgerencia.serviciossociales@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/SandraSotoZavala.avif",
        alt: "sandra-soto",
        nameOffice: "Omaped",
        nameOfficial: "C.P.C. Sandra Soto Zavala",
        emailPersonal: "sandra.soto@municerroazul.gob.pe",
        emailOffice1: "omaped@municerroazul.gob.pe",
        emailOffice2: "",
    },
    {
        image: "https://www.municerroazul.gob.pe/muni-resources/img/officials/VictorTomasLuyoSanchez.avif",
        alt: "victor-luyo",
        nameOffice: "Demuna",
        nameOfficial: "Lic. Victor Tomas Luyo Sanchez",
        emailPersonal: "victor.luyo@municerroazul.gob.pe",
        emailOffice1: "demuna@municerroazul.gob.pe",
        emailOffice2: "",
    },
];
---

<Layout title="Funcionarios Municipales">
    <section class="flex flex-col items-center justify-center gap-8 my-[8rem] px-[1.2rem]">
        <article class="mb-[3rem]">
            <h3 class="[font-family:var(--font-family-modern)] mb-[3rem] text-3xl md:text-4xl lg:text-5xl text-center font-semibold">Funcionarios Municipales</h3>
        </article>
        <article class="max-w-full flex flex-col items-center justify-center gap-10 md:w-[900px] md:grid md:grid-cols-2 md:place-items-center md:p-0 xl:w-[1200px] xl:grid-cols-3">
            {
                officialsCardsArray.map((officialsCardsArray) => (
                    <OfficialsCards
                        image={officialsCardsArray.image}
                        alt={officialsCardsArray.alt}
                        nameOffice={officialsCardsArray.nameOffice}
                        nameOfficial={officialsCardsArray.nameOfficial}
                        emailPersonal={officialsCardsArray.emailPersonal}
                        emailOffice1={officialsCardsArray.emailOffice1}
                        emailOffice2={officialsCardsArray.emailOffice2}
                    />
                ))
            }
        </article>
    </section>
</Layout>
